body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;
    background-color: #FFFFFF
    ;
}
/* section er container */
.container{
    display: flex;
    background: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;

}
/* end */
/* journey and camera */
.journey{
    width: 582px;
    height: 270px;
    margin-left: 120px;
}
.journey a{
    text-decoration: none;
    color: whitesmoke;
 background: #E02C6D;
 width:116 px ;
 height: 24px;
 border-radius: 41px;
 padding: 10px 22px;
 margin-top: 16px;
 font-size: 13px;
 
}
.camera{
    width: 440px;
    background-image:   url(images/circle\design.svg);
    height: 414px;
    margin-left: 133px;
}
/* font size */
.journey>h1{
    font-size: 3.2em;
}
/* font end */
/* camera-rotate */
.camera:hover{
    transform:scale(.8) rotate(360deg);
    transition: transform 2.5s;
}
.center{
    text-align: center;
    margin: 50px;
}
/* new .container */
.container-2{
display: grid;
grid-template-columns: repeat(3,1fr);
}
.product-border{
    background-color: rgb(250, 255, 254);
    width: 310px;
    height: 450px;
    margin: 10px 7px;
    border: 1px solid whitesmoke;
    padding: 30px;
    box-shadow: 0 0 15px #AAAAAA;
    border-radius: 15px;
    margin-left: 35px;
}
}
.target{
    text-align: end;
    text-decoration: none;
    color: #E02C6D;
 width:116 px ;
 height: 24px;
 
 margin-top: 16px;
 font-size: 13px;
}
.checked{
    color: orange;
}
.empty{
    color: orange;
}
/* new article */
.article{
    display: flex;
    margin-left: 40px;
    margin-top: 80px;
}
.htt{
    text-decoration: none;
    color: whitesmoke;
 background: #E02C6D;
 width:116 px ;
 height: 24px;
 padding: 10px 22px;
 margin-top: 16px;
 font-size: 13px;
}
.ending{
    text-align: end;
    text-decoration: none;
    
}
.last-pera{
margin-left: 70px;
}
.end{
    text-align: center;
    background-color: #0A0826;
    color: white;
}
/* media quaries */

/* mobile devices */
@media only screen and (max-width:688px) {
    .container .main{
        background-color: tomato;
        grid-template-columns: repeat(1,1fr);
        width:100%;
        flex-direction: column;

    }
    
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:922 px)
  {
   .container{
grid-template-columns: repeat(2,1fr);
   } 
    
}